In [1]:
import pandas as pd

Задание 1

In [2]:
ratings = pd.read_csv('ml-latest-small/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
def rating_class(row):
    if row['rating'] <=2:
        return 'низкий рейтинг'
    if row['rating']<=4 and row['rating']>2:
        return 'средний рейтинг'
    if row['rating'] >4:
        return 'высокий рейтинг'

In [4]:
ratings['class']=ratings.apply(rating_class, axis=1)

In [5]:
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

Задание 2

In [6]:
keywords = pd.read_csv('Python_11_functions_groupby/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [7]:
geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

In [8]:
for region in geo_data:
        for city in geo_data[region]:
            print(city)

москва
тула
ярославль
петербург
псков
мурманск
владивосток
сахалин
хабаровск

In [9]:
def keyword_region(row):
    for region in geo_data:
        for city in geo_data[region]:
            if city in row['keyword']:
                return region
    return 'undefined'

In [10]:
keywords['region']=keywords.apply(keyword_region, axis=1)

In [11]:
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [12]:
keywords['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Задание 3 (бонусное)

In [3]:
import numpy as np

In [4]:
years=np.arange(1950, 2011).tolist()

In [6]:
movies = pd.read_csv('ml-latest-small/ml-latest-small/movies.csv')
movies.drop_duplicates(subset = 'movieId', keep = 'first', inplace = True)
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
full_rating=ratings.merge(movies, how = 'left', on = 'movieId')

In [8]:
full_rating.head()

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama

In [9]:
def production_year(row):
    for year in years:
        if str(year) in row['title']:
            return year
    return '1900'

In [10]:
full_rating['year']=full_rating.apply(production_year, axis=1)

In [11]:
full_rating.head()

,userId,movieId,rating,timestamp,title,genres,year
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,1995
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,1900
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,1996
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,1981
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,1989

In [12]:
full_rating.groupby('year').mean()[['rating']].sort_values('rating', ascending=False).head()

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539