In [1]:
import pandas as pd

Задание 1

In [10]:
df = pd.read_csv ("ratings.dat",sep=r'\:{2,}', engine='python')

In [11]:
df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [12]:
filtered_ratings=df[(df['Rating']==5)]

In [14]:
filtered_ratings['MovieID'].value_counts().head(1)

2858    1963
Name: MovieID, dtype: int64

Задание 2

In [15]:
power=pd.read_csv('power.csv')

In [16]:
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [17]:
filtered_countries = power[ ((power['country']=='Latvia') | (power['country']=='Lithuania') | \
                             (power['country']=='Estonia'))&((power['category']==4)|(power['category']==12)|\
                                                             (power['category']==21))&((power['year']>=2005) \
                                                                                       & (power['year']<=2010))\
                           &(power['quantity']>=0)]

In [18]:
filtered_countries['quantity'].sum()

240580.0

Задание 3

In [19]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

In [20]:
df_page_url = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')

In [21]:
df_page_url[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       930802      -               922986
 1          NaN            EUR/RUB       848680      -               846285
 2          NaN            USD/RUB       783960      -               782900
 3          NaN            JPY/RUB        07046      -                07047
 4          NaN            CNY/RUB       110463      -               110847
 5          NaN            CHF/RUB       800772      -               798085
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        10825      -                10810
 8          NaN            EUR/GBP        09103      -                09170
 9          NaN            EUR/JPY      1202850      -              1201200
 10         NaN            EUR/CHF        10608      -                10603
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        09237      -                09250
 13         NaN            USD/GBP        08410      -                08483
 14         NaN            USD/JPY      1111085      -              1111200
 15         NaN            USD/CHF        09800      -                09809
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08300      -                08300
 18         NaN            JPY/GBP        00076      -                00076
 19         NaN            JPY/USD        00090      -                00090
 20         NaN    JPY/CHF (100:1)        08800      -                08800
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        11892      -                11788
 23         NaN            GBP/JPY      1321099      -              1309840
 24         NaN            GBP/EUR        10984      -                10906
 25         NaN            GBP/CHF        11653      -                11560
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11653      -                11560
 28         NaN            EUR/CHF        10608      -                10603
 29         NaN    JPY/CHF (100:1)        08800      -                08800
 30         NaN            USD/CHF        09800      -                09809
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       301312      -               300866
 33         NaN            USD/UAH       278309      -               278309
 34         NaN            CHF/UAH       284018      -               283700
 35         NaN            GBP/UAH       330604      -               328099

           %  Абсолютное значение     Время
 0    0,85 %                07816  14:34:00
 1    0,28 %                02395  14:40:00
 2    0,14 %                01060  14:40:00
 3    0,00 %                00000  14:34:00
 4   -0,35 %               -00383  14:40:00
 5    0,34 %                02687  14:40:00
 6         %  Абсолютное значение     Время
 7    0,14 %                00015  14:40:00
 8   -0,74 %               -00068  14:40:00
 9    0,14 %                01650  14:40:00
 10   0,05 %                00006  14:40:00
 11        %  Абсолютное значение     Время
 12  -0,15 %               -00014  14:40:00
 13  -0,85 %               -00072  14:40:00
 14  -0,01 %               -00115  14:40:00
 15  -0,09 %               -00009  14:40:00
 16        %  Абсолютное значение     Время
 17  -0,26 %                00000  14:34:00
 18  -0,85 %               -00001  14:34:00
 19   0,00 %                00000  14:40:00
 20  -0,06 %                00000  14:40:00
 21        %  Абсолютное значение     Время
 22   0,88 %                00104  14:40:00
 23   0,86 %                11259  14:34:00
 24   0,72 %                00078  14:40:00
 25   0,80 %                00093  14:40:00
 26        %  Абсолютное значение     Время
 27   0,80 %                00093  14:40:00
 28   0,05 %                00006  14:40:00
 29  -0,06 %                00000  14:40:00
 30  -0,09 %               -00009  14:40:00
 31        %  Абсолютное значение     Время
 32   0,15 %                00445  14:34:00
 33   0,00 %                00000  14:39:00
 34   0,11 %                00319  14:40:00
 35   0,76 %                02505  14:34:00  ]